@model ASP.NET_DnD_App.Models.FullCharacterSheet

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete " + Model.CharacterName;
}

<link href="~/css/Delete.css" rel="stylesheet" />

<div data-aos="fade-up" data-aos-duration="1000">
    <h1>Are you sure you want to delete @Model.CharacterName?</h1>
</div>

<div>
    <hr />
    <div data-aos="fade-up" data-aos-duration="1800">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CharacterName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CharacterName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClassName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClassName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HairStyle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HairStyle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HairColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HairColor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EyeColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EyeColor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SkinType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SkinType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RaceName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RaceName)
            </dd>
        </dl>
    </div>
    
    <form asp-action="Delete">
        @*<input type="hidden" asp-for="CharacterSheetId" />*@
        <div data-aos="fade-up" data-aos-duration="2600">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
        <br />
        <br />
        <div data-aos="fade-up" data-aos-duration="2800">
            <a asp-action="Index">Back to List</a>
        </div>
        <br />
        <br />
    </form>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>