@Model IEnumerable<FullCharacterSheet>
@inject IHttpContextAccessor http
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Character Catalog";
}

<h1>Characters List</h1>


<a asp-action="Create" asp-controller="Character">
    Add Character
</a>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                
               
            </tr>
        </thead>
        <tbody>
            @{
                
                string prevUrl = http.HttpContext.Request.Path;

            }


            @foreach (FullCharacterSheet c in Model)
            {
                <tr>
                    <td>@c.ClassName</td>
                    <td>@Html.DisplayFor(m => c.CharacterName)</td>
                    <td>@c.RaceName</td>
                    <td>
                        <a class="btn btn-secondary" asp-route-id="@c.CharacterSheetId" asp-action="Edit">Edit</a>
                        <a class="btn btn-danger" asp-route-id="@c.CharacterSheetId" asp-action="Delete">Delete</a>
                        <a class="btn btn-primary"
                           asp-route-id="@c.CharacterSheetId"
                           asp-route-prevUrl="@prevUrl"
                           asp-controller="Cart"
                           asp-action="Add">
                            Add to Cart
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@* Print page numbers *@
<ul class="pagination">
    @for (int i = 1; i <= (int)ViewData["MaxPage"]; i++)
    {
        if (i == (int)ViewData["CurrentPage"])
        {
            <li class="page-item active">
                <a class="page-link" asp-action="Index" asp-route-id="@i">
                    @i
                </a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-id="@i">
                    @i
                </a>
            </li>
        }
    }
</ul>
