@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<FullCharacterSheet>
@inject IHttpContextAccessor http

    @if(SignInManager.IsSignedIn(User))
    {
    <h1>Characters List</h1>


    <a asp-action="Create" asp-controller="Character">
        Add Character
    </a>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                   <th>Name</th>
                   <th>Class</th>
                   <th>Race</th>
                </tr>
            </thead>
            <tbody>
                @{
                    string prevUrl = http.HttpContext.Request.Path;

                }
                @foreach (FullCharacterSheet c in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => c.CharacterName)</td>
                        <td>@c.ClassName</td>
                        <td>@c.RaceName</td>
                        <td>
                            <a class="btn btn-secondary" asp-route-id="@c.CharacterSheetId" asp-action="Edit">Edit</a>
                            <a class="btn btn-danger" asp-route-id="@c.CharacterSheetId" asp-action="Delete">Delete</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @* Print page numbers *@
    <ul class="pagination">
        @for (int i = 1; i <= (int)ViewData["MaxPage"]; i++)
        {
            if (i == (int)ViewData["CurrentPage"])
            {
                <li class="page-item active">
                    <a class="page-link" asp-action="Index" asp-route-id="@i">
                        @i
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-id="@i">
                        @i
                    </a>
                </li>
            }
        }
        </ul>
    }

    else
    {
         <h1>You Have to be Signed in to Access This!</h1>
    }